div{
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 1px solid black;
}

#one{
    display: flex;
}

#two{
    display: flex;
}

.kotak1{
    background-color: yellow;
    height: 85px;
}

.kotak2{
    background-color: rgb(255, 94, 0);
    height: 85px;
    width: 820pt;
}

.kotak3{
    background-color: lightgreen;
    height: 433px;
}
.kotak4{
    background-color:lightgray;
    height: 433px;
    width: 656pt;
}

.kotak5{
    background-color:  deepskyblue;
    height: 433px;
}

.kotak6{
    background-color:blue;
    height: 65px;
    width: 986pt;
}